/* Document properties */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	color: hsl(258, 42%, 14%);

	min-height: 100vh;
	background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
}


/* Page properties */
.page {
	width: 1000px;
	margin: 0 auto;
	padding-top: 65px;
}

nav ul li, #headerTxt {
	font-family: "Mulish", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

span, #instagramLink {
	font-weight: bold;
}

span, #instagramLink:hover {
	color: hsl(186, 40%, 67%);
}

#paragraph, footer {
	font-size: 14px;
	line-height: 28px;
}


/* Navigation menu properties */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
	gap: 48px;

	list-style: none;
}

nav ul li a {
	font-size: 18px;
	opacity: 0.5;

	transition: all .2s;
}

nav ul li a:hover {
	font-weight: bold;
	opacity: 1;
}


/* Main properties */
main {
	margin: 58px 0 80px;

	display: flex;
	gap: 102px;
	align-items: center;
}

main .text {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

main .text #headerTxt {
	font-weight: normal;
	font-size: 49px;
	line-height: 56px;
}

main .text #paragraph {
	color: #7D7987;
}

main .text #whatsappBtn {
	border: none;
	padding: 15px 32px;
	width: fit-content;
	border-radius: 4px;
	background: hsl(159, 36%, 57%);

	display: flex;
	align-items: center;
	gap: 10px;

	font-family: "DM Sans", sans-serif;
	color: hsl(0, 0%, 100%);
	font-size: 16px;
	text-transform: uppercase;

	cursor: pointer;
	transition: all .2s;
}

main .text #whatsappBtn:hover {
	background: hsl(158.8, 49.8%, 44.5%);
}


/* Footer properties */
footer {
	text-align: center;
}

footer #instagramLink {
	transition: all .2s;
}


/* Assets properties */
#balls {
	position: fixed;
	bottom: 0;
	right: 0;
}