/* Document properties */
body {
	font-family: "Open Sans", sans-serif;
	text-align: center;
	margin: 0;
}

/* Main content properties */
#main-content {
	width: 592px;
	margin: 0 auto 72px;
}

#main-content #illustration {
	margin-bottom: 72px;
}

/* Text properties */
h1 {
	font-family: "Inter", sans-serif;
	font-size: 49px;
	line-height: 56px;
	font-weight: normal;

	margin-bottom: 32px;
}

h1 span {
	font-weight: bold;
}

p, #footer-links {
	color: rgb(125, 121, 135);
	font-size: 14px;
	line-height: 28px;
}

span, a {
	color: rgb(255, 153, 0);
}

/* Footer properties */
#footer-links {
	margin-bottom: 20px;
}

#footer-links .line {
	width: 592px;
	height: 0;
	margin: 0 auto 8px;
	border: 1px solid rgb(236, 239, 242);
}

#footer-links a + a {
	margin-left: 28px;
}

/* Asset properties */
#balls {
	position: fixed;
	bottom: 0px;
	right: 0px;
}